@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700');

@import 'mq'
@import 'functions'
@import 'keyframes'

$colors = {
  main: #00AAFF,
  extra: #A169F7,
}

.avito-trends
  position: relative
  z-index: 99
  width: 1060px
  max-width: 100%
  font-family: 'Ubuntu', 'Roboto', sans-serif
  font-size: 16px
  line-height: normal
  text-size-adjust: 100%

  & *
  & *:before
  & *:after
    box-sizing: border-box

  svg
    display block
    fill currentColor
    pointer-events none

  & b
    font-weight: 700

  & button
    font-family: inherit
    outline: none
    cursor: pointer
    appearance: none

  &__bg
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    width: 100%
    height: 100%
    background-color: $colors.main

    ^[0].is-feed &
      position: absolute

  &__inner
    position: relative
    z-index: 1

    @media $mq.desktop
      border: 3px solid #fff
      border-radius: 10px
      overflow: hidden

      ^[0].is-feed &
        border: none
        border-radius: 0
        overflow: visible

  &__logo
    position: absolute
    z-index: 2
    top: 15px
    right: 15px
    display: block
    width: 106px
    height: 30px
    color: #fff !important
    border: 0 !important
    transition: opacity .2s

    @media $mq.notMobile
      top: 30px
      right: 30px

    ^[0].is-testing &
    ^[0].is-feed.is-result &
      display: none

    @media (max-width: 1024px)
      ^[0].is-result &
        display: none

    &:hover
      opacity: .6

      @media $mq.notHover
        opacity: 1

  &-enter
    position: relative
    width: 640px
    max-width: 100%
    min-height: 480px
    margin: 0 auto
    padding: 20px 15px

    @media $mq.notMobile
      min-height: 600px
      padding: 30px

    @media $mq.desktop
      padding: 70px 20px 0 40px

    &__img
      position: absolute
      top: 190px
      left: 460px

    &__inner
      position: relative
      z-index: 1
      width: 400px
      max-width: 100%

    &__headline
      color: #70CFFF
      font-weight: 700
      letter-spacing: .2em
      text-transform: uppercase

    &__title
      margin-top: 12px
      color: #fff
      font-size: 36px
      font-weight: 700

    &__subtitle
      margin-top: 12px
      color: #fff
      font-size: 18px
      font-weight: 500

    &__text
      margin-top: 20px
      color: #fff
      line-height: 1.5em

      @media $mq.notMobile
        margin-top: 35px

      & p
        padding: 0
        margin: 0 !important

        &:not(:last-child)
          margin-bottom: 0.625em !important

    &__btn
      width: 160px
      height: 44px
      padding: 0
      margin: 0
      border: 0
      margin-top: 30px
      color: $colors.main
      font-size: 18px
      font-weight: 700
      background-color: #fff
      transition: opacity .2s

      @media $mq.desktop
        margin-top: 120px

      &:hover
        opacity: .6

        @media $mq.notHover
          opacity: 1

  &-test
    position: relative
    display: flex
    flex-direction: column
    align-items: center
    height: 480px
    padding: 20px 15px 0

    @media $mq.notMobile
      height: 600px
      padding: 30px 0 0

    &__hint
      position: absolute
      z-index: 20
      top: 20px
      left: 0
      right: 0
      width: 290px
      max-width: 100%
      margin: 0 auto
      padding: 10px 15px
      color: $colors.main
      line-height: 1.5em
      text-align: center
      border-radius: 5px
      background-color: #fff
      box-shadow: 0 5px 10px rgba(0,0,0,.15)

      @media $mq.iphone6
        width: 320px

      @media $mq.notMobile
        width: 600px
        padding: 22px 35px
        font-size: 18px

      & > div
        width: 530px
        max-width: 100%
        margin: 0 auto

    &__overlay
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      width: 100%
      height: 100%
      background: linear-gradient(to top, #000 0%, rgba(0,0,0,.75) 25%, rgba(0,0,0,.75) 100%)
      visibility: hidden
      opacity: 0
      transform: translate3d(0,0,0)
      transition: opacity .2s

      ^[-1].is-active &
        z-index: 5
        visibility: visible
        opacity: 1

    &__title
      position: relative
      z-index: 1
      width: 640px
      max-width: 100%
      margin-bottom: 10px
      color: #fff
      font-weight: 700
      text-align: center

      @media $mq.notMobile
        margin-bottom: 24px
        font-size: 22px

    &__months
      position: relative
      z-index: 10
      width: 260px
      max-width: 100%
      transition: transform .6s .2s

      @media $mq.notMobile
        width: 530px

      ^[0].is-confirmed &
        transform: translate3d(0, 45px, 0)

        @media $mq.notMobile
          transform: translate3d(0, 110px, 0)

    &__goods
      display: flex
      align-items: flex-end
      width: 290px
      max-width: 100%
      margin: auto 0 10px

      @media $mq.notMobile
        width: 590px

    &__confirm-btn
      position: absolute
      left: 0
      right: 0
      bottom: 10px
      display: block
      width: 200px
      height: 44px
      padding: 0
      margin: 0 auto
      border: 0
      color: $colors.main
      font-size: 18px
      font-weight: 700
      background-color: #fff
      transition: opacity .2s

      @media $mq.notMobile
        bottom: 40px
        width: 268px
        height: 70px
        font-size: 24px

      &:hover
        opacity: .6

        @media $mq.notHover
          opacity: 1

  &-months
    display: flex
    flex-wrap: wrap
    align-items: center
    margin: -14px 0 0 -8px

    @media $mq.notMobile
      margin: -20px 0 0 -10px

  &-months__item
    width: 25%
    padding: 14px 0 0 8px

    @media $mq.notMobile
      width: 16.6666%
      padding: 20px 0 0 10px

  &-month
    position: relative
    color: #70cfff
    border-radius: 100%

    &::before
      content: ''
      display: block
      padding-top: 100%

    &::after
      content: attr(data-caption)
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      width: 100%
      height: 100%
      display: flex
      justify-content: center
      align-items: center

      @media $mq.notMobile
        font-size: 24px

    & > svg
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      width: 100%
      height: 100%

    & > div
      display: none
      position: absolute
      z-index: 1
      top: 0
      right: -5px
      width: 20px
      height: 20px
      border-radius: 100%
      background-color: #fff
      transform: rotate(45deg)
      cursor: pointer

      ^[0].is-confirmed &
        display: none

      &::before
      &::after
        content: ''
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        margin: auto
        border-radius: 5px
        background-color: $colors.main

      &::before
        width: 12px
        height: 2px

      &::after
        width: 2px
        height: 12px

    &.is-active
      color: $colors.extra

    &.is-selected
      background-position: center
      background-color: $colors.extra
      background-size: cover

      &::after
      & > svg
        display: none

      & > div
        display: block

    &.is-correct
      background-color: #97CF26

    &.is-incorrect
      background-color: #FF6163

  &-good
    position: absolute
    z-index: 10
    touch-action: none

    &--farm
      z-index: 13
      bottom: 14px
      left: calc((100% - 320px) / 2 + 55px)

      @media $mq.notMobile
        bottom: 22px
        left: calc((100% - 640px) / 2 + 150px)

    &--jersey
      z-index: 12
      bottom: 20px
      left: calc((100% -  290px) / 2 + 20px)

      @media $mq.notMobile
        bottom: 40px
        left: calc((100% - 640px) / 2 + 70px)

    &--coat
      z-index: 11
      bottom: 50px
      left: calc((100% -  290px) / 2 + 34px)

      @media $mq.notMobile
        bottom: 130px
        left: calc((100% - 640px) / 2 + 114px)

    &--sneakers
      z-index: 12
      bottom: 140px
      left: calc((100% - 320px) / 2 + 246px)

      @media $mq.notMobile
        bottom: 244px
        left: calc((100% - 640px) / 2 + 498px)

    &--scooter
      z-index: 14
      bottom: 66px
      left: calc((100% - 320px) / 2 + 146px)

      @media $mq.notMobile
        bottom: 98px
        left: calc((100% - 640px) / 2 + 344px)

    &--priora
      z-index: 12
      left: calc((100% - 320px) / 2 + 180px)

      @media $mq.notMobile
        left: calc((100% - 640px) / 2 + 390px)

    &--kokoshnik
      z-index: 14
      bottom: 130px
      left: calc((100% -  290px) / 2 + 70px)

      @media $mq.notMobile
        bottom: 180px
        left: calc((100% - 640px) / 2 + 226px)

    &--iphone
      z-index: 11
      bottom: 84px
      left: calc((100% - 320px) / 2 + 210px)

      @media $mq.notMobile
        bottom: 140px
        left: calc((100% - 640px) / 2 + 444px)

    &--shark
      z-index: 13
      bottom: 86px
      left: calc((100% - 320px) / 2 + 232px)

      @media $mq.notMobile
        bottom: 148px
        left: calc((100% - 640px) / 2 + 470px)

    &--buzova
      left: calc((100% - 320px) / 2 + 115px)

      @media $mq.notMobile
        left: calc((100% - 640px) / 2 + 278px)

    &--furs
      z-index: 13
      bottom: 15px
      left: calc((100% - 320px) / 2 + 94px)

      @media $mq.notMobile
        bottom: 20px
        left: calc((100% - 640px) / 2 + 220px)

    @media $mq.mobile
      transform: scale(.645)
      transform-origin: left bottom

    & > img
      display: block

    .is-active &
      z-index: 1

    &.is-active
      position: relative
      z-index: 10

      &::after
        content: attr(data-name)
        position: absolute
        top: 100%
        left: 50%
        margin-top: 4px
        color: $colors.extra
        font-size: 18px
        font-weight: 700
        white-space: nowrap
        text-align: center
        transform: translate3d(-50%, 0, 0)

  &-result
    position: relative
    width: 580px
    max-width: 100%
    margin: 0 auto
    padding: 15px 0

    @media $mq.notMobile
      padding: 30px 0

    @media $mq.desktop
      min-height: 600px
      //padding: 50px 0

    &__img
      position: absolute
      top: 50px
      left: 220px
      display: block
      width: 90px

      @media $mq.notMobile
        left: auto
        right: 0
        width: auto

    &__head
      position: relative
      z-index: 1

      @media $mq.mobile
        padding: 0 15px

    &__headline
      color: #fff

    &__title
      margin-top: 10px
      color: #fff
      font-size: 26px
      font-weight: 700

      @media $mq.notMobile
        margin-top: 16px
        font-size: 36px

    &__subtitle
      margin-top: 8px
      color: #fff

      @media $mq.notMobile
        font-size: 18px

    &__share
      min-height: 44px
      margin-top: 20px

      @media $mq.notMobile
        margin-top: 30px

    &__restart
      display: inline-flex
      align-items: center
      margin-top: 20px
      color: #fff
      font-size: 18px
      cursor: pointer
      opacity: .6
      transition: opacity .2s

      @media $mq.notMobile
        margin-top: 30px

      &:hover
        opacity: 1

        @media $mq.notHover
          opacity: .6

      & > svg
        margin-left: 6px

    &__bottom
      position: relative
      z-index: 2
      margin-top: 20px
      padding: 15px
      background-color: #fff

      @media $mq.notMobile
        margin-top: 44px
        padding: 25px 30px

    &__logo
      position: absolute
      top: -20px
      right: 12px
      transform: translate3d(0, -100%, 0)
      display: block
      width: 88px
      color: #fff !important
      border: 0 !important

      @media $mq.notMobile
        top: -15px

      @media $mq.desktop
        display: none

      ^[0].is-feed &
        display: block

    &__text
      color: #6E6E6E
      line-height: 1.5em

    &__btn
      display: block
      width: 160px
      height: 44px
      margin: 24px auto 0
      color: #fff !important
      font-size: 18px
      font-weight: 700
      text-align: center
      line-height: 44px
      border: 0 !important
      background-color: $colors.main
      transition: opacity .2s

      &:hover
        opacity: .6

        @media $mq.notHover
          opacity: 1

  .likely
    &--custom
      display: flex

    &__widget
      flex-shrink: 0
      display: flex
      align-items: center
      justify-content: center
      min-width 58px
      height 44px
      color #fff
      border 1px solid currentColor
      background-color transparent
      cursor: pointer
      transition: opacity .2s

      &:not(:last-child)
        margin-right 10px

      &:hover
        opacity: .6

        @media $mq.notHover
          opacity: 1

      &--facebook
        padding: 0 13px 0 10px

    &__counter
      display: none

    &__icon
      background-color transparent

      & svg
        display: block
        width: 25px
        height: @width
        fill currentColor

      &--facebook
        & svg
          width: 20px
          height: @width

      &--facebook

        @media $mq.notMobile
          margin-right 10px

    &__button
      display: none
      font-size 18px
      line-height 1

      @media $mq.notMobile
        display: block
